In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('C:\\Users\\ventu\\Python Projects\\Cost_of_Living\\cost-of-living.csv')

In [12]:
df = df.rename(columns={"Unnamed: 0": 'Goods'})
df.head()

,Goods,"Saint Petersburg, Russia","Istanbul, Turkey","Izmir, Turkey","Helsinki, Finland","Chisinau, Moldova","Milan, Italy","Cairo, Egypt","Banja Luka, Bosnia And Herzegovina","Baku, Azerbaijan",...,"Lviv, Ukraine","Novosibirsk, Russia","Bursa, Turkey","Brussels, Belgium","Jerusalem, Israel","Melbourne, Australia","Perth, Australia","Sydney, Australia","Alexandria, Egypt","Quito, Ecuador"
0,"Meal, Inexpensive Restaurant",7.34,4.58,3.06,12.00,4.67,15.0,3.38,3.58,5.27,...,3.75,5.72,3.82,15.0,15.56,10.22,12.43,11.81,2.81,3.59
1,"Meal for 2 People, Mid-range Restaurant, Three...",29.35,15.28,12.22,65.00,20.74,60.0,17.48,22.99,23.73,...,18.76,22.01,11.47,60.0,62.24,49.54,56.55,54.37,14.06,31.45
2,McMeal at McDonalds (or Equivalent Combo Meal),4.40,3.82,3.06,8.00,4.15,8.0,4.51,3.58,4.22,...,3.56,3.67,3.06,8.2,12.97,7.12,7.32,7.15,3.38,5.39
3,Domestic Beer (0.5 liter draught),2.20,3.06,2.29,6.50,1.04,5.0,1.69,1.02,0.84,...,1.50,1.10,2.37,4.0,7.26,5.57,5.90,4.97,1.69,1.35
4,Imported Beer (0.33 liter bottle),2.20,3.06,2.75,6.75,1.43,5.0,2.82,1.53,2.11,...,1.50,2.20,3.06,4.0,7.26,5.57,5.59,4.97,2.81,2.70

In [14]:
df.max(axis=1)

0        23.12
1       109.16
2        12.97
3        11.13
4        11.13
5         3.87
6         3.21
7         2.64
8         3.33
9         5.33
10       22.63
11        2.16
12       29.52
13        7.58
14        8.42
15       20.82
16        4.00
17       25.23
18      167.34
19        1.96
20    76598.98
21     3131.06
22     2527.11
23     5661.53
24     4320.95
25      265.52
26        0.44
27       93.29
28       95.89
29       33.00
30       16.64
31      108.50
32       59.53
33      126.37
34      171.22
35    27720.21
36    17532.98
37     6532.21
38       48.69
39       10.11
40        4.16
41       73.78
42        6.70
43        5.79
44        3.81
45        2.58
46        5.21
47        5.70
48        5.76
49        3.50
50        3.40
51       46.09
52    67345.10
53     2194.64
54    34441.93
dtype: float64